# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
# vendor/

# Go workspace files
go.work
go.work.sum

# Environment files
.env
.env.local

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store

# Project specific
/simulation
/data/*.csv
/data/*.png
